body {
    background-color: #FFCCCC;
    font-family: Courier;
    font-size: 13pt;
    font-stretch: semi-expanded 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed ;
    top: 80;
    width: auto;
    padding: 20px;
}
.nav a {
    display:block;
    background-color:#FFE2E2;
}